td,th {
    padding: .5rem;

}
.hide-btn {
    outline: 0;
    border: 0;
    background: transparent;
}
.img-icon {
    width:15px;
    height: 15px;
    line-height: 15px;
    cursor: pointer;
    padding: 5px;
    :hover {
        background: rgb(226, 225, 225);
    }


}


ngb-pagination ::ng-deep a {
    color: black !important;
  }

  ngb-pagination ::ng-deep .page-item.active .page-link {
    border-color: black;
    background-color: lightgrey;
  }

  ngb-pagination ::ng-deep .page-item.active .page-link:focus, .page-link:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.1rem dimgrey;
  }

  ngb-pagination ::ng-deep .page-link:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.1rem dimgrey;
  }

